*.iml
.gradle
/local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
/app/src/main/res/values/developer-config.xml

### Python ###
*.pyc


### Code gen activity sanity tests ###
/node_modules
app/src/androidTest/java/com/mapbox/mapboxsdk/plugins/gen

### Code gen annotation plugin ###
plugin-annotation/scripts/code-gen.list
plugin-annotation/scripts/node_modules/
