<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mapbox.mapboxsdk.plugins.testapp">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".PluginApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.FeatureOverviewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.TrafficActivity"
            android:description="@string/description_traffic"
            android:label="@string/title_traffic">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_navigation"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.BuildingActivity"
            android:description="@string/description_building"
            android:label="@string/title_building">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_extrusions"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.location.LocationLayerModesActivity"
            android:description="@string/description_location_modes"
            android:label="@string/title_location_modes">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_location"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.location.LocationLayerMapChangeActivity"
            android:description="@string/description_location_map_change"
            android:label="@string/title_location_map_change">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_location"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.location.ManualLocationUpdatesActivity"
            android:description="@string/description_location_manual_update"
            android:label="@string/title_location_manual_update">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_location"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.location.CompassListenerActivity"
            android:description="@string/description_compass_listener"
            android:label="@string/title_compass_listener">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_location"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.GeoJsonActivity"
            android:description="@string/description_geojson"
            android:label="@string/title_geojson">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_drawing"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.offline.OfflineDownloadActivity"
            android:description="@string/description_offline_plugin"
            android:label="@string/title_offline_plugin">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_offline"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.offline.OfflineRegionListActivity"
            android:description="@string/description_offline_regions"
            android:label="@string/title_offline_regions">
            <meta-data
                android:name="@string/category"
                android:value="@string/category_offline"/>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.FeatureOverviewActivity"/>
        </activity>

        <activity
            android:name=".activity.offline.OfflineRegionDetailActivity"
            android:description="@string/description_offline_regions"
            android:label="@string/title_offline_regions"
            android:theme="@style/Translucent"/>

        <service
            android:name="com.mapbox.mapboxsdk.plugins.offline.OfflineDownloadService"
            android:exported="false"/>

        <receiver android:name="com.mapbox.mapboxsdk.plugins.offline.OfflineDownloadStateReceiver">
            <intent-filter>
                <action android:name="com.mapbox.mapboxsdk.plugins.offline"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>