<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.mapbox.mapboxsdk.plugins.testapp">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
          android:name=".PluginApplication"
          android:allowBackup="true"
          android:icon="@mipmap/ic_launcher"
          android:label="@string/app_name"
          android:roundIcon="@mipmap/ic_launcher_round"
          android:supportsRtl="true"
          android:theme="@style/AppTheme"
          tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <activity android:name=".activity.FeatureOverviewActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.places.AutocompleteLauncherActivity"
      android:description="@string/description_autocomplete"
      android:label="@string/title_places_autocomplete"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_places"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
        android:name=".activity.places.PickerAutocompleteCombinedActivity"
        android:description="@string/description_place_picker_autocomplete_combo"
        android:label="@string/title_place_picker_autocomplete_combo"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="@string/category"
          android:value="@string/category_places"/>
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.places.AutocompleteFragmentActivity"
      android:description="@string/description_autocomplete_fragment"
      android:label="@string/title_places_autocomplete_fragment"
      android:theme="@style/AppTheme.NoActionBar">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_places"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.traffic.TrafficActivity"
      android:description="@string/description_traffic"
      android:label="@string/title_traffic">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_navigation"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.building.BuildingActivity"
      android:description="@string/description_building"
      android:label="@string/title_building">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_extrusions"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.offline.OfflineDownloadActivity"
      android:description="@string/description_offline_plugin"
      android:label="@string/title_offline_plugin">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_offline"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.offline.OfflineUiComponentsActivity"
      android:description="@string/description_offline_ui_components"
      android:label="@string/title_offline_ui_components">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_offline"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.offline.OfflineRegionListActivity"
      android:description="@string/description_offline_regions"
      android:label="@string/title_offline_regions">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_offline"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.offline.OfflineRegionDetailActivity"
      android:description="@string/description_offline_regions"
      android:label="@string/title_offline_regions"
      android:theme="@style/Translucent"/>
    <activity
      android:name=".activity.places.PickerLauncherActivity"
      android:description="@string/description_place_picker"
      android:label="@string/title_place_picker">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_places"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
      android:name=".activity.localization.LocalizationActivity"
      android:description="@string/description_localization"
      android:label="@string/title_localization">
      <meta-data
        android:name="@string/category"
        android:value="@string/category_localization"/>
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".activity.FeatureOverviewActivity"/>
    </activity>
    <activity
            android:name=".activity.annotation.SymbolActivity"
            android:description="@string/description_symbol"
            android:label="@string/title_symbol">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.PressForSymbolActivity"
            android:description="@string/description_symbol_press"
            android:label="@string/title_symbol_press">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.BulkSymbolActivity"
            android:description="@string/description_symbol_bulk"
            android:label="@string/title_symbol_bulk">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.DynamicSymbolChangeActivity"
            android:description="@string/description_symbol_change"
            android:label="@string/title_symbol_change">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.FillActivity"
            android:description="@string/description_fill"
            android:label="@string/title_fill">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.FillChangeActivity"
            android:description="@string/description_fill_change"
            android:label="@string/title_fill_change">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.CircleActivity"
            android:description="@string/description_circle"
            android:label="@string/title_circle">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.LineActivity"
            android:description="@string/description_line"
            android:label="@string/title_line">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.annotation.LineChangeActivity"
            android:description="@string/description_line_change"
            android:label="@string/title_line_change">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_annotation" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>
    <activity
            android:name=".activity.markerview.MarkerViewActivity"
            android:description="@string/description_markerview"
            android:label="@string/title_markerview">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_markerview" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>

    <activity
            android:name=".activity.ktx.maps.MapboxKtxActivity"
            android:description="@string/description_ktx"
            android:label="@string/title_ktx">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_ktx" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>

    <activity
            android:name=".activity.scalebar.ScalebarActivity"
            android:description="@string/description_scalebar"
            android:label="@string/title_scalebar">
      <meta-data
              android:name="@string/category"
              android:value="@string/category_scalebar" />
      <meta-data
              android:name="android.support.PARENT_ACTIVITY"
              android:value=".activity.FeatureOverviewActivity" />
    </activity>

    <service
      android:name="com.mapbox.mapboxsdk.plugins.offline.offline.OfflineDownloadService"
      android:exported="false"/>

    <receiver android:name="com.mapbox.mapboxsdk.plugins.offline.offline.OfflineDownloadStateReceiver">
      <intent-filter>
        <action android:name="com.mapbox.mapboxsdk.plugins.offline"/>
      </intent-filter>
    </receiver>
  </application>
</manifest>