<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mapbox.places">

  <application>
    <!-- TODO WTF does all these config changes do -->
    <activity
        android:name="com.mapbox.plugins.places.autocomplete.PlacesCompleteActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
        android:theme="@style/Theme.AppCompat.Translucent"
        android:windowSoftInputMode="stateVisible"/>
  </application>
</manifest>
